<div class="row">
  <div class="large-12 columns">
    <ul class="inline-list">
      <li><h3>Hunt The Goblin Shark!</h3></li>
      <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
      <div id="myModal" class="reveal-modal" data-reveal>
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
      <li><%= link_to "Instructions", static_pages_instructions_path, class: "round tiny button" %></li>

    </ul>
  </div>



</div>

<div class="row">
  <div class="large-3 columns ">
    <h5>Your Adventure History:</h5>
    <% @game_plays.reverse_order.each do |game_play| %>
        <tr>
          <%@monster = false%>
          <%@kracken = false%>
          <td><center><%= game_play.room_id %></center></td>
        </tr>

    <% end %>
  </div>
  <div class="large-8 columns">
    <p> You are currently in room: <%= @game_plays.last.room_id %></p>
    <!--#game status-->
    <div class="row">
      <%= goblin(@game_plays.last.room.goblin_shark)%>
      <%if @game_plays.last.room.lochness_monster%>
          <% @monster = true %>
      <%end%>
      <%= whirlpool(@game_plays.last.room.whirlpool)%>
      <%if @game_plays.last.room.kracken %>
          <%@kracken = true%>
      <%end%>
      <%= iceberg(@game_plays.last.room.iceberg) %>
    </div>

    <% if @monster == true %>
        <%= button_to "The Lochness Monster is carrying you to a new room! Click here to play dead.", {action: "new", params: {room_id:rand(1..20) }}, class: " button alert" %>
    <% end %>

    <% if @kracken == true %>
        <%= button_to "The Kracken has emerged and is carrying you to a new room! Click here to play dead.", {action: "new", params: {room_id:rand(1..20) }}, class: " button alert" %>
    <% end %>

    <!--#flash-->
    <% if flash[:shoot] %>
    <%@gameover = true%>
        <div class="alert-box info-radius"><%=flash[:shoot] %></div>
    <% end %>
    <% if flash[:miss] %>
        <div class="alert-box info-radius"><%=flash[:miss] %></div>
    <% end %>
<%if @gameover == true%>
    <%= link_to "Play Again!", root_path, class: "button"%>
<%end%>

    <%if @gameover != true%>
        <p><%= senses %></p>
        <%if @monster == false &&  @kracken == false%>
            <h3>What room would you like to go to next?</h3>
            <ul class="inline-list">
              <div class = "warning">
                <span>Choose a room</span>
              <li><%= button_to "#{@game_plays.last.room.room_options[0]}", {action: "new", params: {room_id: @game_plays.last.room.room_options[0] }}, class: "round tiny button" %></li>
              <li><%= button_to "#{@game_plays.last.room.room_options[1]}", {action: "new", params: {room_id: @game_plays.last.room.room_options[1] }}, class: "round tiny button" %></li>
              <li><%= button_to "#{@game_plays.last.room.room_options[2]}", {action: "new", params: {room_id: @game_plays.last.room.room_options[2] }}, class: "round tiny button" %></li>
            </ul>
          </div>
            <ul class="inline-list">
              <li><%= button_to "Shoot", {action: "shoot", params: {weapon: @game_plays.last.room.room_options[0] }}, remote: true, id: "butt", class: "round tiny button" %></li>
              <li><%= button_to "Shoot", {action: "shoot", params: {weapon: @game_plays.last.room.room_options[1] }}, class: "round tiny button" %></li>
              <li><%= button_to "Shoot", {action: "shoot", params: {weapon: @game_plays.last.room.room_options[2] }}, class: "round tiny button" %></li>
            </ul>
        <%end%>
    <% end %>
  </div>
</div>
